//
// Buttons
// 


.p-button {
    border-radius: 3px;
    font-family: $font-primary;
    font-size: 14px;
    line-height: 24px;
    &:focus{
      box-shadow: 0 0 0 0.2rem $gray-200;
    }

    &.p-button-primary {
        background-color: $primary;
        border: 1px solid $primary;
        box-shadow: 0 2px 6px 0 rgba($primary,.5);

        &:enabled:hover, &.active, &:active {
            background-color: darken($primary, 5%);
            border: 1px solid darken($primary, 5%);
        }
    }

    &.p-button-success {
        background-color: $success;
        border: 1px solid $success;
        box-shadow: 0 2px 6px 0 rgba($success,.5);

        &:enabled:hover, &.active, &:active {
            background-color: darken($success, 5%);
            border: 1px solid darken($success, 5%);
        }
    }

    &.p-button-danger {
        background-color: $danger;
        border: 1px solid $danger;
        box-shadow: 0 2px 6px 0 rgba($danger,.5);

        &:enabled:hover, &.active, &:active {
            background-color: darken($danger, 5%);
            border: 1px solid darken($danger, 5%);
        }
    }
  }

  .p-button-primary, .p-button-success,.p-button-secondary, .p-button-info, .p-button-warning,
  .p-button-danger{
    color: $white;
  }
  