@import "primeng/bootstrap.scss";
@import "style.scss";


.dashboard-notice-board {
  a {
    color: $blue;
  }
}


.filemanager
{
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background: #ececec;
  margin-top:15px;
  ul
  {

    &.files
    {
      li
      {
        &.file
        {
          display: inline-block;
          width: 124px;
          border: none;
          margin: 4px;
          margin-bottom: 8px;
          padding: 0;
          vertical-align: top;

          &:hover {
            .box:not(.back) {
              top: -26px;
            }
          }

          figure
          {
            margin: 0;
            position: relative;
            display: block;
            width: 122px;
            margin: auto;
          }

          .img-precontainer-mini
          {
            display: none;
          }

          .img-precontainer
          {
            margin: auto;
            width: 100%;
            text-align: center;
            background: #fff;
            border: none;

            .img-container
            {
              height: 91px;
              width: 122px;
              padding: 0;
              border: none;
              overflow: hidden;
              display: table-cell;
              text-align: center;
              vertical-align: middle;
              margin: auto;

              img
              {
                max-width: 122px !important;
                max-height: 91px !important;
                vertical-align: middle;
              }
            }
          }

          h4
          {
            font-size: 12px;
            font-weight: 200;
            margin: 0;
            text-align: center;
            color: #000;
            padding: 0;
            /*margin-bottom: 4px;
            margin-top: 4px;
            line-height: 18px;*/
            line-height: 36px;
          }

          .box
          {
            -webkit-transition: -webkit-transform .3s;
            -moz-transition: -moz-transform .3s;
            transition: transform .3s;
            max-width: 100%;
            display: block;
            position: relative;
            overflow: hidden;
            z-index: 1;
            background: #fff;
            text-align: center;
            word-wrap: break-word;
            vertical-align: top;
            text-align: left;
            position: relative;
            border: none;
            box-shadow: none;
            z-index: 100;
            /*padding: 4px;*/
            height: 34px;

            ellipsis
            {
              height: 18px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          figcaption
          {
            text-align: center;
            padding: 2px;
            padding-top: 8px;
            color: #fff;
            height: 30px;
            width: 122px;
            margin-left: 0;
            margin-right: 0;
            position: absolute;
            top: auto;
            bottom: 0;
            -webkit-box-shadow: inset 0 0 8px 0 rgba(41,41,41,0.5);
            box-shadow: inset 0 0 8px 0 rgba(41,41,41,0.5);

            a {
              padding-left: 2px;
              padding-right: 2px;
            }
          }
        }
      }
    }
  }
}