<!-- begin:: Content -->

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title" i18n>Files</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div>

<div class="row">
  <div class="col-12">
    <p-fileUpload *ngIf="(['file.edit'] | hasPermission) && isFileWrite(selectedDirectory)" #primeFileUpload [customUpload]="true" (uploadHandler)="chunkedFileUploader($event)" (onProgress)="progressReport($event)"
      i18n-chooseLabel chooseLabel="Select" i18n-uploadLabel uploadLabel="Upload" i18n-cancelLabel cancelLabel="Cancel" [multiple]="true" (onSelect)="onFileUploadSelect($event)">
      <ng-template pTemplate="content">
          <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
          </ul>
      </ng-template>
    </p-fileUpload>
    <app-file-list [fileItems]="fileManagerItems" 
    [loading]="fileManagerLoading" 
    [parentFileItem]="selectedDirectory"
    [defaultParentFileItem]="defaultDirectory"
    [onGetThumbnailUrl]="getFileThumbnail"
     (onLazyLoad)="onLazyLoad($event)"
     (onClick)="onClick($event)"
     >
     <ng-template pTemplate="buttons">
      <button *ngIf="(['file.edit'] | hasPermission) && isFileWrite(selectedDirectory)" pButton pRipple type="button" icon="pi pi-folder" (click)="showDialogToAddFile()" i18n-label label="Create folder" class="p-button-primary p-mr-1"></button>
    </ng-template>

    <ng-template pTemplate="itemButtons" let-fileListItem>
      <button pButton pRipple type="button" i18n-title title="Info" icon="pi pi-info" class="p-button-outlined p-button-rounded p-button-info p-ml-1" (click)="showFileInfoDialog(fileListItem); $event.stopPropagation();"></button>
      <button pButton pRipple type="button" i18n-title title="Download" icon="pi pi-download" class="p-button-outlined p-button-rounded p-button-success p-ml-1" (click)="onDownloadFile(fileListItem); $event.stopPropagation();"></button>
      <button *ngIf="fileListItem.isWritable" pButton pRipple type="button" i18n-title title="Rename" icon="pi pi-pencil" class="p-button-outlined p-button-rounded p-button-warning p-ml-1" (click)="showDialogToEditFile(fileListItem); $event.stopPropagation();"></button>
      <button *ngIf="fileListItem.isWritable" pButton pRipple type="button" i18n-title title="Delete" icon="pi pi-trash" class="p-button-outlined p-button-rounded p-button-danger p-ml-1" (click)="onDeleteFile(fileListItem); $event.stopPropagation();"></button>
    </ng-template>
    </app-file-list>
  </div>
  <!--end col-->
</div>
<!--end row-->


<p-dialog i18n-header header="File" [(visible)]="displayFileModifyDialog" [responsive]="true" showEffect="fade"
  [modal]="true" [style]="{width: '80%', 'max-width': '800px'}">
  <form [formGroup]="fileFormGroup" (ngSubmit)="onSubmitFileForm()">
    <div class="p-grid p-formgrid p-fluid">
      <div class="p-col-12 p-md-12">
        <label for="name" i18n>Name</label>
        <input pInputText type="text" formControlName="name" autocomplete="new-name"
          [ngClass]="{ 'is-invalid': !ffg.name.untouched && ffg.name.errors }" />
        <div *ngIf="ffg.name.errors" class="invalid-feedback">
          <div *ngIf="!ffg.name.untouched && ffg.name.errors.required" i18n>Name is required.</div>
          <div *ngIf="ffg.name.errors.nameExists" i18n>Name you have provided already exists.</div>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button [disabled]="fileFormGroup.invalid" (click)="onSubmitFileForm()"
      class="p-button-success p-ripple p-button p-component" role="button">
      <span class="p-button-label" i18n>Save</span>
    </button>
  </ng-template>
</p-dialog>


<p-dialog i18n-header header="File info" [(visible)]="displayFileInfoDialog" [responsive]="true" showEffect="fade"
  [modal]="true" [style]="{width: '80%', 'max-width': '800px'}">
  <div *ngIf="fileInfo">
    <div class="row">
        <div class="col-sm-12">
            <img [alt]="fileInfo.name" class="p-d-block p-mx-auto" [src]="getFileThumbnail(fileInfo)">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong i18n>Name</strong>
        </div>
        <div class="col-sm-6">
            {{fileInfo.name}}
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-6">
            <strong i18n>Type</strong>
        </div>
        <div class="col-sm-6" *ngIf="fileInfo.isFile">
            <strong>{{fileInfo.mimeType}}</strong> ({{fileInfo.suffix}})
        </div>
        <div class="col-sm-6" *ngIf="fileInfo.isDir">
          <strong>Directory</strong>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong i18n>Size</strong>
        </div>
        <div class="col-sm-6">
          {{fileInfo.size|formatBytes}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong i18n>Created</strong>
        </div>
        <div class="col-sm-6">
          {{fileInfo.created|date:'short'}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <strong i18n>Updated</strong>
        </div>
        <div class="col-sm-6">
          {{fileInfo.updated|date:'short'}}
        </div>
    </div>
  </div>
</p-dialog>


<p-galleria [value]="fileManagerItems" [(visible)]="displayFilePreview" [(activeIndex)]="previewActiveIndex" [responsiveOptions]="responsiveOptions" [containerStyle]="{'max-width': '50%'}" [numVisible]="7"
    [circular]="true" [fullScreen]="true" [showItemNavigators]="true" [showThumbnails]="false" [baseZIndex]="100000">
    <ng-template pTemplate="item" let-item>
      <video *ngIf="videoPlayableMimeTypes.includes(item.mimeType); else notPlayable" style="max-height: 90vh;" controls autoplay>
        <source [src]="getFileUrl(item.file)" [type]="item.mimeType">
      </video>
      <ng-template #notPlayable>
        <img [alt]="item.name" class="original" [src]="getFileThumbnailUrl(item, '1024x')" style="max-height: 90vh;">
      </ng-template>
    </ng-template>
</p-galleria>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
